<div class="content">
  <mat-toolbar [class.expanded]="isExpanded()">
    <mat-toolbar-row>

      <div class="left-content">
        <img class="logo" src="https://i.imgur.com/lDxAfVB.png" alt="Gian logo">
        <span class="name">Gian</span>
      </div>

      <div class="right-content">

        @if (!isMobile()) {
          <div class="desktop-buttons">
            <button mat-button class="git-button" (click)="openGithub()">GitHub</button>
            <button mat-stroked-button class="linkedin-button" (click)="openLinkedIn()">LinkedIn</button>
          </div>
        }

        @if (isMobile()) {
          <button
            mat-icon-button
            aria-label="Toggle menu"
            (click)="toggleMenu()">

            <mat-icon>
              {{ isExpanded() ? 'close' : 'menu' }}
            </mat-icon>

          </button>
        }

      </div>

    </mat-toolbar-row>

    @if (isMobile() && isExpanded()) {
      <mat-toolbar-row class="mobile-menu">
        <button mat-button (click)="openGithub()">GitHub</button>
        <button mat-button (click)="openLinkedIn()">LinkedIn</button>
      </mat-toolbar-row>
    }

  </mat-toolbar>

  <section class="profile">
    <p class="main-color-text main-text">
      Frontend, Backend & Database Developer
    </p>

    <p class="slogan">
      Building smooth, fast, and seamless digital experiences.
    </p>

    <img
      class="profile-photo"
      src="https://i.imgur.com/WXtlQK1.jpg"
      alt="Profile photo">
  </section>
</div>

<router-outlet></router-outlet>