<div class="content">
  <mat-toolbar>
    <mat-toolbar-row>

      <div class="left-content">
        <img class="logo" src="https://i.imgur.com/lDxAfVB.png" alt="Gian logo">
        <span class="name">Gian</span>
      </div>

      <div class="right-content">

          <div class="desktop-buttons">
            <a
  mat-button
  class="git-button"
  href="https://github.com/gerufireblade"
  target="_blank"
  rel="noopener noreferrer">
  GitHub
</a>

<a
  mat-stroked-button
  class="linkedin-button"
  href="https://www.linkedin.com/in/gianestevez/"
  target="_blank"
  rel="noopener noreferrer">
  LinkedIn
</a>
          </div>

      </div>

    </mat-toolbar-row>
  </mat-toolbar>

  <section class="profile">
    <p class="main-color-text main-text">
      Frontend, Backend, Eu & Database Developer
    </p>

    <p class="slogan">
      Building smooth, fast, and seamless digital experiences.
    </p>

    <img
      class="profile-photo"
      src="https://i.imgur.com/WXtlQK1.jpg"
      alt="Profile photo">
  </section>
</div>

<router-outlet></router-outlet>