:host {
  // ==============================
  // Variables
  // ==============================

  --primary: #6205d7;
  --text-dark: #080808;
  --text-muted: #656565;
}

// ==============================
// Sass config (must be OUTSIDE :host)
// ==============================

$animation-speed: 40s;

@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

// ==============================
// Animation
// ==============================

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

// ==============================
// Content
// ==============================

:host .content {
  // ---------- Header ----------
  background-color: black;
  .header {
    mat-toolbar {
      display: flex;
      justify-content: center;
      padding: 64px 0;
      background: #fff;
      transition: all 0.3s ease-in-out;

      mat-toolbar-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 160px;

        .left-content {
          display: flex;
          align-items: center;
        }

        .logo {
          height: 56px;
          margin-bottom: 8px;
          padding-right: 4px;
        }

        .name {
          padding-left: 8px;
          font-weight: 900;
          color: var(--text-dark);
        }

        mat-icon {
          color: var(--text-dark);
        }

        .desktop-buttons {
          display: flex;
          gap: 24px;
        }

        // ---------- Git button ----------

        .git-button {
          font-size: 16px;
          background: transparent;
          color: var(--text-dark);

          &:hover {
            background: transparent;
            color: var(--primary);
          }
        }

        // ---------- LinkedIn button ----------

        .linkedin-button {
          font-size: 16px;
          background: transparent;
          border: 2px solid var(--primary);
          color: var(--primary);

          &:hover {
            background: var(--primary);
            color: #fff;
          }
        }
      }
    }
  }

  // ---------- Profile ----------

 .summary {
  display: flex;
  height: 100svh;

  .left-content {
    width: 50%;
    height: 100%;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    box-sizing: border-box;

    .main-text {
      font-size: 36px;
      font-weight: 600;
      color: white;
    }

    .slogan {
      margin-top: 24px;
      font-size: 20px;
      color: white;
    }

    img {
      width: 300px;
      height: 300px;
      margin-top: 78px;
      border-radius: 50%;
      object-fit: cover;
    }

    button { 
      margin-top: 18px;
      width: 150px;
      height: 40px;
      border-radius: 25px;
      background: white;
      border-color: transparent;
    }
  }

  .right-content {
    width: 50%;
    height: 100%;
    box-sizing: border-box;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}

  // ---------- Slider ----------

  .carousel {
    padding: 14rem 0;
    overflow: hidden;
    display: flex;
    background-color: black;

    > * {
      flex: 0 0 100%;
    }

    .group {
      display: flex;
      gap: 20px;
      /* Add padding to the right to create a gap between the last and first card. */
      padding-right: 20px;
      will-change: transform; /* We should be nice to the browser - let it know what we're going to animate. */
      animation: scrolling 10s linear infinite;

      .card {
        width: 100%;
        color: white;
        border-radius: 24px;
        box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
        padding: 20px;
        font-size: xx-large;
        justify-content: center;
        align-items: center;
        min-height: 200px;

        &:nth-child(1) {
          background: #7958ff;
        }
      
        &:nth-child(2) {
          background: #5d34f2;
        }
      
        &:nth-child(3) {
          background: #4300da;
        }
      
        &:nth-child(4) {
          background: #7d60c0;
        }
      
        &:nth-child(5) {
          background: #9386af;
        }
      }
    }

     @keyframes scrolling {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    &:hover .group {
      animation-play-state: paused;
    }
  }

  .description {
    height: 600px;
    background-color: #111111;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .text-wrapper {
      max-width: 900px;
      text-align: center;
      letter-spacing: 0.5px;
      font-size: 24px;
      color: white;
      & p:first-of-type {
        margin-bottom: 14px;
      }
    }
  }
}