<div class="content">
  <section class="summary">
    <div class="left-content">
      <p class="main-color-text main-text">
        Hi! I'm Gian.
      </p>

      <p class="slogan">
        Building smooth, fast, and seamless digital experiences.
      </p>

      <button (click)="scrollToCarousel()">
  Find out more
</button>
    </div>

    <div class="right-content">
      <img
        class="profile-photo"
        src="https://i.imgur.com/q8Sa3nI.jpg"
        alt="Profile photo of Gian"
      />
    </div>
  </section>

  <section #carousel class="carousel">
    <div class="group">
      <div class="card">Angular</div>
      <div class="card">Springboot</div>
      <div class="card">Oracle</div>
      <div class="card">MySQL</div>
      <div class="card">Ionic</div>
    </div>

    <!-- Add `aria-hidden` to hide the duplicated cards from screen readers. -->
    <div aria-hidden="true" class="group">
      <div class="card">Angular</div>
      <div class="card">Springboot</div>
      <div class="card">Oracle</div>
      <div class="card">MySQL</div>
      <div class="card">Ionic</div>
    </div>
  </section>

  <section class="description">
    <div class="text-wrapper">
      <p>Hola, Soy Gianfranco. Un gusto conocerte!</p>
      <p>
        Durante los últimos 4 años he trabajado creando y mejorando productos digitales para la comunidad universitaria.
        He participado en el desarrollo de aplicaciones móviles y plataformas web que facilitan procesos académicos y administrativos.
        Disfruto convertir ideas en soluciones claras, funcionales y centradas en las personas.
        Soy curioso, detallista y siempre estoy buscando nuevas formas de mejorar lo que construyo.
      </p>
    </div>
  </section>

  <section class="skills">
    <div class="main-card">
      <p>a</p>
    </div>
  </section>
</div>

<router-outlet></router-outlet>