@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@300;400;700&display=swap');
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
/* Estilos globales */
html, body { 
  height: 100%; 
}

html {
  scroll-behavior: smooth;
}

* { 
  margin: 0; 
  font-family: 'Cabin', sans-serif !important; 
}

.material-icons{
    font-family: 'Material Icons' !important;
}

.main-color-text {
  color: #292929;
}

/**
* App palette colors #E5E5E5 #14213D #292929 #6E13D9 #000000
/

/* Clases para diferentes pesos de fuente */
.text-thin { font-weight: 100; }  /* Extra delgado */
.text-light { font-weight: 300; } /* Ligero */
.text-regular { font-weight: 400; } /* Normal */
.text-bold { font-weight: 700; }  /* Negrita */
.text-black { font-weight: 900; }  /* Extra negrita */

:root {
  --mat-primary: #4CAF50;  /* Verde */
  --mat-accent: #FFC107;   /* Amarillo */
  --mat-warn: #F44336;     /* Rojo */
}

/* Aplica los colores a los botones */
.mat-primary {
  background-color: var(--mat-primary) !important;
  color: white !important;
}

.mat-accent {
  background-color: var(--mat-accent) !important;
  color: black !important;
}

.mat-warn {
  background-color: var(--mat-warn) !important;
  color: white !important;
}

